.App {
  margin: 40px;
  font-family: Arial;
}

textarea, input {
  width: 60%;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  margin-bottom: 20px;
  padding: 10px 15px;
}
img {
  border: 1px solid #ddd;
}